* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 4rem;
}

#opponentPicker {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.playerBox button {
    width: 6rem;
    height: 2rem;
    margin: 1rem;
}

#gameSection{
    height: 60vh;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#board{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

:root {
    --cell-size: 15vh;
    --token-size: calc(var(--cell-size) * 0.9)
}

.boardCell{
    width: var(--cell-size);
    height: var(--cell-size);
    display: flex;
    justify-content: center;
    align-items: center;
}

#cell1, #cell2, #cell4, #cell5, #cell7, #cell8 {
    border-right: 5px solid black ;

}

#cell4, #cell5, #cell6, #cell7, #cell8, #cell9 {
    border-top: 5px solid black;
}

#playerSection{
    display: flex;
    flex-direction: row;
    height: 25vh;
    width: 100%;
}

.playerOneZone, .playerTwoZone{
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
}

.playerOneZone > h3, .playerTwoZone > h3 {
align-self: center;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 2rem;
}

.score {
    align-self: center;
    font-size: x-large;
}

.boardCell.x::before,
.boardCell.x::after {
    content: '';
    position: absolute;
    width: calc(var(--token-size) * 0.1);
    height: var(--token-size);
    background-color: #000;
}

.boardCell.x::before {
    transform: rotate(45deg);
}

.boardCell.x::after {
    transform: rotate(-45deg);
}


.boardCell.o::before {
    content: '';
    position: absolute;
    width: calc(var(--token-size) * 0.9);
    height: calc(var(--token-size) * 0.9);
    border: calc(var(--token-size) * 0.1) black solid;
    border-radius: 50%;
}

.invisible {
    display: none;
}

.visible {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.9);
}

.playing{
    background-color: rgba(255, 166, 0, 0.55);
}

#gameOver {
    /* border: 2px solid red; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#gameOver > p {
    margin: 2rem;
    font-size: 3rem;
    color: #FFF;
}
