* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 4rem;
}

#gameSection{
    height: 60vh;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#board{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 0 0;
    grid-template-areas: 
    ". . ."
    ". . ."
    ". . ."; 
}

.boardCell{
    width: 15vh;
    height: 15vh;
}

#OneA {
    border-right: 4px solid black ;

}

#OneB {
    border-right: 4px solid black ;

}

#TwoA {
    border-top: 4px solid black;
    border-right: 4px solid black ;
}

#TwoB {
    border-top: 4px solid black;
    border-right: 4px solid black ;
}

#TwoC {
    border-top: 4px solid black;
}

#ThreeA {
    border-top: 4px solid black;
    border-right: 4px solid black ;

}

#ThreeB {
    border-top: 4px solid black;
    border-right: 4px solid black ;
}

#ThreeC {
    border-top: 4px solid black;
}