* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    overflow: hidden;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

main {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
}

header{
    display: flex;
    flex-grow: 1;
    justify-content: space-around;
    align-items: center;
    height: 4rem;
}

.playerBox button {
    width: 6rem;
    height: 2rem;
    margin: 1rem;
}

#gameSection{
    height: 60vh;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-grow: 1;
}

#board{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

/* Variables */
:root {
    --cell-size: 15vh;
    --token-size: calc(var(--cell-size) * 0.9);
    --playerOne-color: #2ca7ff;
    --playerTwo-color: #ff2c68;
}

.boardCell{
    width: var(--cell-size);
    height: var(--cell-size);
    display: flex;
    justify-content: center;
    align-items: center;
}

#cell0, #cell1, #cell3, #cell4, #cell6, #cell7 {
    border-right: 5px solid black ;
}

#cell3, #cell4, #cell5, #cell6, #cell7, #cell8 {
    border-top: 5px solid black;
}

#playerSection{
    display: flex;
    flex-direction: row;
    flex-grow: 2;
    height: 25vh;
    width: 100%;
    align-self: flex-end;
}


.playerOneZone{
    background: var(--playerOne-color);
}

.playerTwoZone{
    background: var(--playerTwo-color);
}

.playerOneTurn{
    background: var(--playerOne-color);
}

.playerTwoTurn{
    background: var(--playerTwo-color);
}

.playerOneZone, .playerTwoZone{
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
}

.playerOneZone > h3, .playerTwoZone > h3 {
align-self: center;
}

#playerOneInfo, #playerTwoInfo{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.btn-group-sm{
    display: flex;
    justify-content: space-around;
}

#playerOneInfo > h3, #playerTwoInfo > h3, .playerType{
    align-self: center;
}

#playerOnePlayerType, #playerTwoPlayerType{
    font-size: 1.6rem;
}

footer {
    background: #ffdf2c;
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 4rem;
}

footer > p {
    align-self: center;

    padding: .4rem;
}

.score {
    align-self: center;
    font-size: 4rem;
}

.boardCell.x::before,
.boardCell.x::after {
    content: '';
    position: absolute;
    width: calc(var(--token-size) * 0.1);
    height: var(--token-size);
    background-color: #000;
}

.boardCell.x::before {
    transform: rotate(45deg);
}

.boardCell.x::after {
    transform: rotate(-45deg);
}


.boardCell.o::before {
    content: '';
    position: absolute;
    width: calc(var(--token-size) * 0.9);
    height: calc(var(--token-size) * 0.9);
    border: calc(var(--token-size) * 0.1) black solid;
    border-radius: 50%;
}

.invisible {
    display: none;
}

.visible {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.9);
}

.playing{
    background-color: rgba(255, 166, 0, 0.55);
}

.winningCell{
    background: #ffdf2c;
}

#gameOver {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#gameOver > p {
    margin: 2rem;
    font-size: 3rem;
    color: #FFF;
}
